body{
  //color:white;
}
.nav-pills{
  font-family:Patua One;
  font-size:20px;
  background-color:#2C3E50;
}

.nav a {
  color:#18BC9C;
}


.pageOne{
  background-color: #18BC9C; //aqua
 //background-image:url("http://unsplash.com/photos/z55CR_d0ayg/download?force=true");
 //padding-bottom:5%;  
  height:855px;
  
}

.pageOne h1{
  padding:0;
  margin:0;
  font-family: Patua One;
  font-size:80px;
}

.btn-default{
 color: white;
  font-size:18px;
}

#twitterIcon{
  color:rgb()
}

.block{
  //background-image:url("http://unsplash.com/photos/z55CR_d0ayg/download?force=true");
  background-size:cover;
  background-color: rgba(45, 24, 24, 0.43);
  color:white;
  //opacity:0.7;
  padding:15px;
  display:inline-block;
  border-radius:10px;; 
  margin-top: 15%;
  margin-bottom:0.5%;
  //margin-bottom:auto;
      
}

.pageTwo{
  background-color:white;
  padding-top:5%;
  padding-bottom:5%;
}

.pageTwo p {
  font-family: Patua One;
  font-size:35px;
  padding-top:2%;
}

.me{
  border-radius:10000px;
  margin-top: 10%;
  margin-right:auto;
  margin-left:auto;
}

.pageThree{
  background-color: #18BC9C; //aqua
  padding-bottom:5%;

}
.pageThree h1{
  color:white;
  font-size: 50px;
}
.padding-top{
  padding-top: 2%;
  padding-bottom: 2%;
}


.pageFour{
  background-color:white;
  height: 855px;
  padding-top:2%;
}

.footer{
  background-color:#233140;
  color:white;
  padding:1%;
}